html:lang(ur) * {
    text-align: right;
}

input[type="text"] {
    /* padding: 0; */
    min-height: 36px;
    /* width: calc(100% - 32px); */
    width: 100%;
    box-sizing: border-box;
    position: relative;
    left: 0;
    outline: none;
    background-color: white;
    font-size: 16px;

    padding: 8px;
    border: 2px solid #eff2f5;
    border-radius: 4px;
}

input[type="text"]:focus {
    border: 2px solid #566370;
}

input[type="text"].h1-tb {
    color: black;
    padding: 0 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

input[type="text"].h2-tb {
    color: black;
    padding: 0 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    text-align: left;
    margin-right: 8px;
    font-size: 16px;


}