{% load i18n %}{% autoescape off %}
    {% blocktranslate %}あなたがこのメールを受け取っているのは、あなたが fakenewz.info のユーザーアカウントのパスワードリセットを要求したからです。{% endblocktranslate %}

    {% translate "ご本人様が行う場合は、以下のボタンをクリックしてお進みください: " %}
    {% block reset_link %}
         http://{{ source_domain }}/password_reset_confirm?uid={{ uid }}&token={{ token }}
    {% endblock %}
    {% translate 'これがあなたのユーザーネームです: ' %} {{ user.get_username }}

    {% translate "当サイトをご利用いただきありがとうございます" %}

    {% blocktranslate %}The  fakenewz.info team{% endblocktranslate %}
{% endautoescape %}
