{% load i18n %}{% autoescape off %}
    {% blocktranslate %}آپ کو یہ ای میل اس لیے موصول ہو رہی ہے کیونکہ آپ نے fakenewz.info پر اپنے صارف اکاؤنٹ کے لیے پاس ورڈ دوبارہ ترتیب دینے کی درخواست کی ہے۔{% endblocktranslate %}

    {% translate "اگر آپ خود کر رہے ہیں، تو براہ کرم جاری رکھنے کے لیے نیچے دیئے گئے بٹن پر کلک کریں:" %}
    {% block reset_link %}
        http://{{ source_domain }}/password_reset_confirm?uid={{ uid }}&token={{ token }}
    {% endblock %}
    {% translate 'یہ رہا آپ کا صارف نام: ' %} {{ user.get_username }}

    {% translate "ہماری ویب سائٹ استعمال کرنے کا شکریہ!" %}

    {% blocktranslate %}The fakenewz.info team{% endblocktranslate %}
{% endautoescape %}