{% load i18n %}{% autoescape off %}
    {% blocktranslate %}आप यह ईमेल इसलिए प्राप्त कर रहे हैं क्योंकि आपने fakenewz.info पर अपने उपयोगकर्ता खाते के लिए पासवर्ड रीसेट करने का अनुरोध किया है।{% endblocktranslate %}

    {% translate "यदि आप इसे स्वयं कर रहे हैं, तो जारी रखने के लिए कृपया नीचे दिए गए बटन पर क्लिक करें:" %}
    {% block reset_link %}
        http://{{ source_domain }}/password_reset_confirm?uid={{ uid }}&token={{ token }}
    {% endblock %}
    {% translate 'यहाँ आपका उपयोगकर्ता नाम है: ' %} {{ user.get_username }}

    {% translate "हमारी वेबसाइट का उपयोग करने के लिए धन्यवाद!" %}

    {% blocktranslate %}The fakenewz.info team{% endblocktranslate %}
{% endautoescape %}