{% load i18n %}{% autoescape off %}
    {% blocktranslate %}fakenewz.info ನಲ್ಲಿ ನಿಮ್ಮ ಬಳಕೆದಾರ ಖಾತೆಗೆ ಪಾಸ್‌ವರ್ಡ್ ಮರುಹೊಂದಿಸಲು ನೀವು ವಿನಂತಿಸಿರುವ ಕಾರಣ ನೀವು ಈ ಇಮೇಲ್ ಅನ್ನು ಸ್ವೀಕರಿಸುತ್ತಿರುವಿರಿ.{% endblocktranslate %}

    {% translate "ನೀವೇ ಅದನ್ನು ಮಾಡುತ್ತಿದ್ದರೆ, ದಯವಿಟ್ಟು ಮುಂದುವರಿಸಲು ಕೆಳಗಿನ ಬಟನ್ ಅನ್ನು ಕ್ಲಿಕ್ ಮಾಡಿ:" %}
    {% block reset_link %}
        http://{{ source_domain }}/password_reset_confirm?uid={{ uid }}&token={{ token }}
    {% endblock %}
    {% translate 'ನಿಮ್ಮ ಬಳಕೆದಾರಹೆಸರು ಇಲ್ಲಿದೆ: ' %} {{ user.get_username }}

    {% translate "ನಮ್ಮ ವೆಬ್‌ಸೈಟ್ ಬಳಸಿದ್ದಕ್ಕಾಗಿ ಧನ್ಯವಾದಗಳು!" %}

    {% blocktranslate %}The fakenewz.info team{% endblocktranslate %}
{% endautoescape %}
